<%- include("partials/header") -%> 

<h1><strong>Compose</strong></h1>
<form action="/compose" method="post">
    <div class="mb-3">
        <label for="Input" class="form-label"><h5><strong>Title</strong></h5></label>
        <input type="text" class="form-control" name="postTitle" required>
      </div>
    <label class="form-label"><h5><strong>Post</strong></h5></label>
    <textarea name="postBody" class="form-control" rows="5" required></textarea><br>
    <button type="submit" name="button" class="btn btn-secondary btn-lg">Publish</button>
</form>

<%- include("partials/footer") -%> 